<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
	<head>
		<title>Teste back-end Via Varejo</title>
		<meta charset="utf-8"/>
		
		<!-- Materialize -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<h1>Via Varejo - Lista de Produtos</h1>
		<p><a href="/cadastrarProduto" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Produto</a></p>
		
		<table class="container">
			<thead class="row">
				<tr>
					<th class="col s1">Código</th>
					<th class="col s8">Nome</th>
					<th class='col s3'>Valor</th>
				</tr>
			</thead>
			<tbody class="row">
				<tr th:each="produto:${produtos}">
					<td class="col s1"><span th:text="${produto.codigo}">Código</span></td>
					<td class="col s8"><a th:href="${(#mvc.url('PC#comprarProduto').arg(0, produto.idprod)).build()}"><span th:text="${produto.nome}">Nome</span></a></td>
					<td class='col s3'><span th:text="${produto.valor}">Valor</span></td>
				</tr>
			</tbody>
		</table>
		
		<script type="text/javascript" src="js/materialize.min.js"></script>
	</body>
</html>