<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
	<head>
		<title>Teste back-end Via Varejo</title>
		<meta charset="utf-8"/>
		<link rel="icon" href="img/iconViavarejo.png">
				
		<!-- Materialize -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<link rel="stylesheet" href="css/estilo.css">
	</head>
	<body>
		<header>
		  <nav>
		    <div class="nav-wrapper">
		      <a href="/" class="brand-logo"><img class="responsive-img" width="160px" id="logo" src="img/viavarejo.png"/></a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/cadastrarProduto">Cadastrar Produto</a></li>
		        <li><a href="/produtos">Listar Produtos</a></li>
		      </ul>
		    </div>
		  </nav>
  		</header>
		<main>
			<table class="container striped">
				<thead class="row">
					<tr>
						<th class="col s1">Código</th>
						<th class="col s8">Nome</th>
						<th class='col s3'>Valor</th>
					</tr>
				</thead>
				<tbody class="row">
					<tr th:each="produto:${produtos}">
						<td class="col s1"><span th:text="${produto.codigo}">Código</span></td>
						<!-- <td class="col s8"><a th:href="${(#mvc.url('PC#comprarProduto').arg(0, produto.idprod)).build()}"><span th:text="${produto.nome}">Nome</span></a></td> -->
						<td class="col s8"><a th:href="${produto.idprod}"><span th:text="${produto.nome}">Nome</span></a></td>
						<td class='col s3'><span th:text="${produto.valor}">Valor</span></td>
					</tr>
				</tbody>
			</table>
		</main>
		<section>
			<button type="button" class="waves-effect waves-light btn"><a href="/cadastrarProduto">Cadastrar Produto</a></button>
			<button type="button" class="waves-effect waves-light btn"><a href="/produtos">Listar Produtos</a></button>
		</section>
		<script type="text/javascript" src="js/materialize.min.js"></script>
	</body>
</html>